@import "../Mixins/Mixins";

.additional-data-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.wind-container {
  text-align: right;
  margin-top: 10px;
  @include small-box();
}

.feel-container {
  @extend .wind-container;
}

.humidity-container {
  @extend .wind-container;
}

.pop-container {
  @extend .wind-container;
}

.pressure-container {
  @extend .wind-container;
}

.visibility-container {
  @extend .wind-container;
}

.sunset-sunrise {
  @include basic-box-structure();
  display: flex;
  justify-content: space-evenly;
  margin-left: 4px;
  margin-top: 10px;
  max-width: 475px;
  padding: 8px;
}

.ss-container {
  display: flex;
  align-items: center;
}

.ss-image {
  margin-right: 8px;
  margin-top: 2px;
}
