.article-container {
  display: flex;
  justify-content: space-between;
}

.article-icon {
  margin-top: 12px;
  margin-right: 10px;
}

.article-container-text {
  margin-top: 14px;
}

.article-title {
  font-weight: 500;
}

.article-info {
  @include white-font-weight;
}

.article-description {
  font-size: 10px;
}
