@import "../Mixins/Mixins";

.App-background-box {
  @include background-box();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 100;
}

.title-info {
  @include main-text();
}

.question-title {
  font-weight: 400;
  color: $light-main-color;
}

.input-container {
  position: relative;
}

.main-input {
  @include main-text();
  @include input-style;
  margin-top: 6px;
}

.main-input:focus {
  outline: none;
}

.main-input:hover {
  box-shadow: $hover-color;
}

.search-button {
  @include main-text();
  @include button-style;
}

.input-suggestion {
  @include main-text();
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-top: 0.6px;
  left: 0px;
  right: 72px;
  list-style-type: none;
}

.suggestion-button {
  @include main-text();
  border: none;
  cursor: pointer;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 3px 5px;
}

.suggestion-button:hover {
  border-radius: 3px;
  background-color: $light-main-color;
}
