@import "./Styling/SearchInput";
@import "./Styling/Pack";
@import "./Styling/Forecast_SearchBar";
@import "./Styling/Forecast_MainInfo";
@import "./Styling/Forecast_AdditionalData";
@import "./Styling/Media_Screen";
@import "./Mixins/Mixins";

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.forecast-container {
  @include background-box;
}
