$light-main-color: white;
$hover-color: 0px 0px 3px rgb(184, 184, 184);

@mixin button-style {
  padding: 6px 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  border-color: white;
}

@mixin input-style {
  padding: 6px 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-color: white;
}

@mixin basic-box-structure {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgba(26, 25, 25, 0.2);
  border-radius: 0.7%;
  width: 100%;
}

@mixin main-text {
  font-size: 1.2rem;
  font-weight: 100;
}

@mixin input-text {
  font-family: "Lato";
  font-size: 0.85rem;
}

@mixin background-box {
  @include basic-box-structure();
  max-width: 500px;
  padding: 10px 18px;
}

@mixin small-box {
  @include basic-box-structure();
  font-size: 20px;
  max-width: 193px;
  padding: 25px;
}

@mixin white-font-weight {
  font-weight: 700;
  color: white;
}
