$light-main-color: white;
$dark-main-color: rgb(255, 172, 111);

$hover-color: 0px 0px 3px rgb(184, 184, 184);

@mixin main-text {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 100;
}

@mixin main-text2 {
  font-family: "Lato";
  font-size: 0.85rem;
  font-weight: 100;
}

@mixin background-box {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgba(26, 25, 25, 0.2);
  border-radius: 0.7%;
  width: 100%;
  max-width: 500px;
  padding: 24px;
}

@mixin small-box {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgba(26, 25, 25, 0.2);
  border-radius: 0.7%;
  width: 100%;
  max-width: 190px;
  padding: 25px;
}

@mixin white-font-weight {
  font-family: "Lato";
  font-weight: 700;
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App-background-box {
  @include background-box();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-background-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}

.title {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Lato";
}

.title-info {
  @include main-text();
}

.question-title {
  font-weight: 400;
  color: $light-main-color;
}

.main-input {
  @include main-text();
  margin-top: 6px;
  padding: 6px 4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-color: white;
}

.main-input2 {
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 100;
  padding: 6px 4px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-color: white;
}

.main-input:focus {
  outline: none;
}

.main-input2:focus {
  outline: none;
}

.main-input:hover {
  box-shadow: $hover-color;
}

.main-input2:hover {
  box-shadow: $hover-color;
}

.search-button {
  @include main-text();
  padding: 6px 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 500;
  cursor: pointer;

  background-color: transparent;
  border-color: white;
}

.search-button2 {
  @include main-text2();
  padding: 6px 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 500;
  cursor: pointer;

  background-color: transparent;
  border-color: white;
}

.input-container {
  position: relative;
}

.input-suggestion {
  @include main-text();
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-top: 0.8px;
  left: 0px;
  right: 66px;
  list-style-type: none;
}

.input-suggestion2 {
  @include main-text2();
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-top: 0.8px;
  left: 0px;
  right: 48px;
  list-style-type: none;
}

.suggestion-button {
  @include main-text();
  border: none;
  cursor: pointer;
  background-color: inherit;
  width: 100%;
  text-align: left;
  padding: 3px 5px;
}

.suggestion-button:hover {
  border-radius: 3px;
  background-color: $light-main-color;
}

.forecast-container {
  @include background-box;
}

.forecast-section-container {
  text-align: center;
  align-items: center;
}

.forecast-section-scroll {
  display: flex;
  overflow-x: scroll;
}

.forecast-section-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.forecast-section-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.783);
  border-radius: 20px;
}

.forecast-section-scroll::-webkit-scrollbar-track {
  background: #39eec7;
  border-radius: 20px;
}

.scroll-time {
  margin-top: 30px;
  margin-bottom: -12px;
  margin-left: 4px;
  @include white-font-weight();
}

.scroll-temp {
  @include white-font-weight();
  margin-top: -12px;
  margin-left: 4px;
  margin-bottom: 10px;
}

.forecast-title {
  font-family: "Lato";
  font-size: 1.7rem;
  margin-top: -8px;
}

.forecast-title-span {
  @include main-text();
  font-size: 1.7rem;
}

.forecast-today {
  @include main-text();
  font-weight: 400;
  font-size: 45px;
  margin-top: 5px;
}

.description-span {
  font-family: "Lato";
  font-weight: 700;
  color: white;
}

.maxmin {
  font-weight: 100;
}

.additional-data-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.article-title {
  font-weight: 500;
}

.article-info {
  color: white;
  font-weight: 900;
}

.article-description {
  font-weight: 100;
}

.wind-container {
  text-align: right;
  margin-top: 12px;
  @include small-box();
}

.feel-container {
  @extend .wind-container;
}

.humidity-container {
  @extend .wind-container;
}

.pop-container {
  @extend .wind-container;
}

.pressure-container {
  @extend .wind-container;
}

.visibility-container {
  @extend .wind-container;
}

.sunset-sunrise {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px rgba(26, 25, 25, 0.2);
  border-radius: 0.7%;
  width: 100%;
  margin-left: 4px;
  margin-top: 12px;
  max-width: 475px;
  padding: 8px;
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 400;
}

.ss-image {
  margin-right: 8px;
  margin-top: 2px;
}

.ss-container {
  display: flex;
  align-items: center;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

.article-icon {
  margin-top: 12px;
  margin-right: 10px;
}

.article-container-text {
  font-family: "Lato";
  margin-top: 14px;
}

.article-description {
  font-size: 10px;
}

@media screen and (max-width: 820px) {
  .title {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Lato";
  }
  .title-info {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 100;
  }
  .main-input {
    font-size: 0.95rem;
  }
  .search-button {
    font-size: 0.95rem;
  }
  .input-suggestion {
    font-size: 0.95rem;
    margin-top: 0.4px;
    right: 50px;
  }
  .scroll-time {
    margin-top: 30px;
    margin-bottom: -8px;
    margin-left: 4px;
    font-size: 20px;
  }
  
  .scroll-temp {
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .row {
    justify-content: space-evenly;
  }
  .wind-container {
    text-align: right;
    margin-top: 10px;
  }
  .suggestion-button {
    font-size: 0.95rem;
  }
  .wind-container {
    width: 182px;
    font-size: 18px;
  }
  .sunset-sunrise {
    width: 457px;
    margin-top: 8px;
    font-size: 18px;
    height: 24px;
    margin-left: 11px;
    padding: 10px;
  }
  .forecast-container {
    padding: 0px;
  }
  .forecast-section-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .forecast-section-scroll {
    display: flex;
    overflow-x: scroll;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 414px) {
  .title {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Lato";
  }
  .title-info {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 100;
  }
  .main-input {
    font-size: 0.95rem;
  }
  .search-button {
    font-size: 0.95rem;
  }
  .input-suggestion {
    font-size: 0.95rem;
    margin-top: 0.4px;
    right: 50px;
  }
  .scroll-time {
    margin-top: 25px;
    margin-bottom: -12px;
    margin-left: 4px;
  }
  
  .scroll-temp {
    margin-top: -12px;
    margin-left: 4px;
    margin-bottom: 10px;
  }
  .row {
    justify-content: space-evenly;
  }
  .wind-container {
    text-align: right;
    margin-top: 8px;
  }
  .suggestion-button {
    font-size: 0.95rem;
  }
  .wind-container {
    width: 142px;
    font-size: 14px;
  }
  .sunset-sunrise {
    width: 375px;
    margin-top: 8px;
    font-size: 13px;
    height: 24px;
    margin-left: 9px;
    padding: 10px;
  }
  .forecast-container {
    padding: 0px;
  }
  .forecast-section-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .forecast-section-scroll {
    display: flex;
    overflow-x: scroll;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 393px) {
  .title {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Lato";
  }
  .title-info {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 100;
  }
  .main-input {
    font-size: 0.95rem;
  }
  .search-button {
    font-size: 0.95rem;
  }
  .input-suggestion {
    font-size: 0.95rem;
    margin-top: 0.4px;
    right: 54px;
  }
  .scroll-time {
    margin-top: 20px;
    margin-bottom: -12px;
    margin-left: 4px;
    font-size: 16px;
  }
  
  .scroll-temp {
    margin-top: -16px;
    margin-left: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .row {
    justify-content: space-evenly;
  }
  .wind-container {
    text-align: right;
    margin-top: 8px;
  }
  .suggestion-button {
    font-size: 0.95rem;
  }
  .wind-container {
    width: 132px;
    height: 80px;
    font-size: 12px;
  }
  .sunset-sunrise {
    width: 360px;
    margin-top: 5px;
    font-size: 13px;
    height: 24px;
    margin-left: 9px;
    padding: 6px;
  }
  .forecast-container {
    padding: 0px;
  }
  .forecast-section-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .forecast-section-scroll {
    display: flex;
    overflow-x: scroll;
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Lato";
  }
  .title-info {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 100;
  }
  .main-input {
    font-size: 0.85rem;
  }
  .search-button {
    font-size: 0.85rem;
  }
  .input-suggestion {
    font-size: 0.85rem;
    margin-top: 0.4px;
    right: 50px;
  }
  .scroll-time {
    margin-top: 25px;
    margin-bottom: -12px;
    margin-left: 4px;
  }
  
  .scroll-temp {
    margin-top: -12px;
    margin-left: 4px;
    margin-bottom: 10px;
  }
  .row {
    justify-content: space-evenly;
  }
  .wind-container {
    text-align: right;
    margin-top: 8px;
  }
  .suggestion-button {
    font-size: 0.85rem;
  }
  .wind-container {
    width: 120px;
    font-size: 11px;
  }
  .sunset-sunrise {
    width: 330px;
    margin-top: 8px;
    font-size: 14px;
    height: 24px;
    margin-left: 12px;
    padding: 10px;
  }
  .forecast-container {
    padding: 0px;
  }
  .forecast-section-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .forecast-section-scroll {
    display: flex;
    overflow-x: scroll;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 361px) {
  .title {
    font-size: 3rem;
    font-weight: 100;
    font-family: "Lato";
  }
  .title-info {
    font-family: "Lato";
    font-size: 0.75rem;
    font-weight: 100;
  }
  .main-input {
    font-size: 0.85rem;
  }
  .search-button {
    font-size: 0.85rem;
  }
  .input-suggestion {
    font-size: 0.85rem;
    margin-top: 0.4px;
    right: 50px;
  }
  .scroll-time {
    margin-top: 25px;
    margin-bottom: -12px;
    margin-left: 4px;
  }
  
  .scroll-temp {
    margin-top: -12px;
    margin-left: 4px;
    margin-bottom: 10px;
  }
  .row {
    justify-content: space-evenly;
  }
  .wind-container {
    text-align: right;
    margin-top: 8px;
  }
  .suggestion-button {
    font-size: 0.85rem;
  }
  .wind-container {
    width: 118px;
    font-size: 11px;
  }
  .sunset-sunrise {
    width: 325px;
    margin-top: 6px;
    font-size: 14px;
    height: 24px;
    margin-left: 7px;
    padding: 10px;
  }
  .forecast-container {
    padding: 0px;
  }
  .forecast-section-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .forecast-section-scroll {
    display: flex;
    overflow-x: scroll;
    margin-right: 30px;
    margin-left: 30px;
  }
}






